.container {
    width: 100%;
     min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    
}
.buttons-container{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6rem;
    margin-bottom: .6rem;
}