.container{
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top: 1px solid var(--color-grey);
}
.info{
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.first-row > h3{
    padding: 0;
    margin: 0;
    padding-left: 1rem;
    color: var(--color-dark-grey);
}
.first-row > :nth-child(1) {
    width: 60%;
    color: var(--color-grey);
;}
.first-row > :nth-child(2) {
    padding-right: 1rem;
    width: 20%;
}
.first-row > :nth-child(3) {
    width: 7vh;
    height: 4.7vh;
    background-color: var(--color-purple);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}
.first-row > :nth-child(3) > p{
   color: white;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   align-self: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}



@media only screen and (min-width: 900px){
     .container{
        width: 30%;
        height: 7vh;
        margin-left: 1rem;
        border: 2px solid var(--color-purple);
        border-radius: .5rem;
    }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .container{
        height: 2rem;
    }
    .first-row > :nth-child(3) {
        width: 2rem;
        height: 1.8rem;
       
}
}