.main{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    box-sizing: border-box;
    width: 100vw;
    height: max-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    margin-top: 1rem;
}
.container > form > label {
    box-sizing: border-box;
    width: 90vw;
    align-self: center;
    height: fit-content;
    color: var(--color-purple);
    display: flex;
    flex-direction: column;
}

.container > form > label > select{
    width: 90vw;
    background-color: var(--color-purple);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.container > form > button{
    width: 65vw;
    max-width: 300px;
    height: 2.5rem;
    color: var(--color-purple);
    background-color: white;
    border: 2px solid var(--color-purple);
    font-weight: bold;

}
.result-container{
    box-sizing: border-box;
   
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
     animation-name: fade;
    animation-duration: .6s;
}
.error{
    color: red;
}

@keyframes fade {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}

@media only screen and (min-width: 900px) {
    .main{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }
    .container{
        width: 40vw;
        height: 60vh;
        overflow: hidden;
    }
    .container > form{
        width: 40vw;
        
    }
  
    .result-container{
        width: 45%;
        height: 60vh;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
     .main{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }
    .container{
        width: 40vw;
        height: 91vh;
        overflow: hidden;
    }
    .container > form{
        width: 40vw;
        
    }
  
    .result-container{
        width: 50%;
        height: 91vh;
        align-items: flex-start;
    }
}