.form{
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form > h2{
    color: var(--color-dark-grey);
}
@media only screen and (min-width: 900px){
     .form{
        width: 40%;
        height: max-content;
    }
}