.container{
    box-sizing: border-box;
    width: 7rem;
    height: 2.2rem;
    background-color: var(--color-purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: .35rem;
    margin: .5rem;
}

.container > a{
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--color-purple);
    color: white;
    text-decoration: none;
}

.image-container{
    width: 1.5rem;
    background-color: var(--color-purple);
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}