.container{
    box-sizing: border-box;
    width: 8rem;
    height: 2.2rem;
    background-color: var(--color-purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: .35rem;
    margin: .5rem;
    cursor: pointer;
}

.container > a{
    width: 5rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--color-purple);
    color: white;
    text-decoration: none;
    margin: 1rem;
}

.image-container{
    width: 1.5rem;
    background-color: var(--color-purple);
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
}

@media only screen and (min-width: 900px) {
    .container{
        width: 7rem;
    }
    .container:hover{
        background-color: #9a8df3;
    }
    .container:hover > a{
        background-color: #9a8df3;
    }
    .container:hover > .image-container{
        background-color: #9a8df3;
    }
    .container > a{
        width: 4rem;
        height: 1.5rem;
    }
    .image-container{
        width: 1.5rem;
    }
    
}