.container-purple{
    width: 10vh;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-white{
    width: 10vh;
    height: 10vh;
    background-color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
}
.purple{
    width: 8vh;
    height: 8vh;
    background-color: var(--color-purple);
    text-decoration: none;
    border-radius: .35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.white{
    width: 8vh;
    height: 8vh;
    background-color:white;
    text-decoration: none;
    border-radius: .35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-purple);
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
   .container-purple{
        width: 2.5rem;
        height: 2.5rem;
   }
   .container-white{
        width:2.5rem;
        height:2.5rem;
   }
   .white{
        width: 2.3rem;
        height: 2.3rem;
   }
   .purple{
        width: 2.3rem;
        height: 2.3rem;
   }
}