.container{
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top: 1px solid var(--color-grey);
}
.info{
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-row{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.first-row > h3{
    padding: 0;
    margin: 0;
    padding-left: 1rem;
    color: var(--color-dark-grey);
}
.first-row > :nth-child(2) {
    padding-right: 1rem;
}
.second-row{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.second-row > h5{
     padding: 0;
    margin: 0;
    padding-left: 1rem;
    color: var(--color-grey);
}


@media only screen and (min-width: 950px){
    .container{
        width: 30%;
        height: 30vh;
        margin-left: 1rem;
    }
}