footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
    font-weight: bold;
    color: white;
    margin-top: 1rem;
}