.container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.bar-container{
    width: 100vw;
    position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
}

@media only screen and (min-width: 950px) {
    .container {
        background-color: white;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
}
  
}