.main{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
    border-radius: 1rem;
    border: 2px solid white;
}
.form > input {
    width: 80%;
    height: 5vh;
    border: 1px solid white;
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.submit{
    width: 24vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
    font-style: bold;
    color: white;
    border-radius: .5rem;
    border: 2px solid white;
    margin-top: 3rem;
}

@media only screen and (min-width: 900px) {
    .form {
        width: 40vw;
    }
}