.main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
    border-radius: 1rem;
    border: 2px solid white;
}
.form > input {
    width: 80%;
    height: 5vh;
    border: 2px solid white;
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
   
}
.form > input:focus{
    background-color: var(--color-purple);
    color: white;
}
.submit{
    width: 24vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
    font-style: bold;
    color: white;
    border-radius: .5rem;
    border: 2px solid white;
    margin-top: 3rem;
}
.submit:hover{
    background-color: white;
    color: var(--color-purple);
}

@media only screen and (min-width: 900px) {
    .form {
        width: 30vw;
    }
    .form > input {
        width: 60%;
        height: 5vh;
        border: 2px solid white;
        border-radius: .5rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }   
    .form > :nth-child(1) {
        margin-top: 6vh;
    }
    .submit{
        width: 7vw;
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .form {
        width: 40vw;
        height: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form > input {
        width: 60%;
        height: 1.5rem;
        border: 2px solid white;
        border-radius: .5rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }   
   
    .submit{
        margin-top: 1rem;
        width: 5rem;
        height: 2rem;
    }
}